Brewfile.lock.json

# Newsboat log/cache files
/dot.config/newsboat/cache.db
/dot.config/newsboat/history.cmdline

# Karabiner-Elements
/dot.config/karabiner/assets

# Neovim's plugin manager artifact
lazy-lock.json

# Fish's Bass plugin (can be installed via `fisher install edc/bass`)
/dot.config/fish/functions/__bass.py
/dot.config/fish/functions/bass.fish
