Brewfile.lock.json

# Newsboat log/cache files
/dot.config/newsboat/cache.db
/dot.config/newsboat/history.cmdline

# Karabiner-Elements
/dot.config/karabiner/assets

# Neovim's plugin manager artifact
lazy-lock.json
