[alias]
  # sorts branches by "last activity" (https://twitter.com/tenderlove/status/1392957802163802112)
  recent = branch --sort=-committerdate --format="%(committerdate:relative)%09%(refname:short)"
