<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>gatoglow</string>

    <key>ProgramArguments</key>
    <array>
      <string>/Users/cr0t/.dotfiles/littles/gatoglow.exs</string>
      <string>--watch</string>
    </array>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Users/cr0t/.asdf/shims:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
        <key>HOME</key>
        <string>/Users/cr0t</string>
    </dict>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/cr0t/Library/Logs/gatoglow.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/cr0t/Library/Logs/gatoglow_error.log</string>
</dict>
</plist>
