" empty HTML template and move cursor to title
nnoremap ,html :-1read $HOME/.config/vim.d/snippets/skeleton.html<CR>6jwf>a

" GenServer template
nnoremap ,gens :-1read $HOME/.config/vim.d/snippets/genserver.ex<CR>wi
