if status is-interactive
    # We can use this file to set environment variabels or update PATH when needed.
    # See more here: https://fishshell.com/docs/current/tutorial.html#path-example
    #
    # INFO: it will affect only your particular local system!

    set -x GITLAB_TOKEN 'glpat-******'
    set -x KUBECONFIG "$HOME/.kube/config-work:$HOME/.kube/config-homelab"
    set -x HOMEBREW_NO_ENV_HINTS 1
    set -x EDITOR nvim
end

# Automatically start (or attach to) tmux session when connected over SSH
if status is-interactive && test -z "$TMUX" && set -q SSH_CONNECTION
    # tm is a tiny wrapper over the tmux, see functions/tm.fish
    tm
end
